<!DOCTYPEHTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF8">
    <title>Hello</title>
</head>
<body>
<h1>Chat</h1>
<p th:text="${username}"></p>
<div name="channelList">
    <form action="/selectChannel">
        <table>
            <tbody>
            <tr th:each="channel : ${channelList}">
                <td>
                    <input type="submit" th:value="${'#'+channel.getChannelName + ' / '+channel.getId}" name="channelName">
<!--                    <input type="submit" th:value="${'#'+channel.getId}", name="channelName">-->
<!--                    <span th:text="${channel.getId}" name="channelName"></span>-->
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <form action="createChannel">
        <input type="text" name="channelName" placeholder="新しいチャネルを追加する">
        <button type="submit">追加</button>
    </form>
</div>
<div name="chat">
    <label th:text="${'#'+currentChannelName}"></label>
    <table>
        <tbody>
        <tr th:each="chat : ${chatList}">
            <td th:text="${chat.getUser().getUsername() +  ' : ' + chat.getChatText()}"></td>
        </tr>
        </tbody>
    </table>
</div>
<form action="/add">
    <input name="chat" placeholder="発言する" type="text">
    <input type="submit" value="発言">
</form>
<!--<table>-->
<!--    <tbody>-->
<!--    <tr th:each="chat : ${chats}">-->
<!--        <td th:text="${chat}"></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->
</body>
</html>