<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>LOGIN</h1>
<form th:action="@{/login}" method="post">
    <input type="text" name="username" placeholder = "username" required="required" autofocus="autofocus">
    <input type="password" name="password" placeholder="password" required="required">
    <input type="submit" value="login">
</form>
<a href="/registerForm">新たにユーザ登録する</a>
<p th:text="${errorMessage}"></p>
</body>
</html>